doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Laulukirja Profitti – Admin Panel
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/metisMenu.min.css', rel='stylesheet')
    link(href='/stylesheets/sb-admin-2.css', rel='stylesheet')
    link(href='/stylesheets/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    include header
    include side-nav
    #page-wrapper.page-wrapper
      block content

    script(src='/javascripts/vendor/jquery.min.js')
    script(src='/javascripts/vendor/bootstrap.min.js')
    script(src='/javascripts/vendor/metisMenu.min.js')
    script(src='/javascripts/sb-admin-2.js')
