.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        if user
            ul#side-menu.nav
                li
                    a(href='/admin')
                        i.fa.fa-dashboard.fa-fw
                        |  Dashboard
                li
                    a(href='/admin/songs')
                        i.fa.fa-list.fa-fw
                        |  Songs